In [14]:
import pandas as pd

epl_dataframe = pd.read_csv("./EPL_Set.csv", sep=",")

epl_dataframe.describe()

              FTHG         FTAG         HTHG         HTAG
count  9664.000000  9664.000000  8740.000000  8740.000000
mean      1.523903     1.121482     0.685469     0.488444
std       1.301671     1.121667     0.833581     0.710524
min       0.000000     0.000000     0.000000     0.000000
25%       1.000000     0.000000     0.000000     0.000000
50%       1.000000     1.000000     0.000000     0.000000
75%       2.000000     2.000000     1.000000     1.000000
max       9.000000     8.000000     5.000000     5.000000